<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="summary-container">
        <h1>Article Summary</h1>
        <p style="display: inline;">
            <a href="{{ url }}" target="_blank" style="font-size: 0.9em; text-decoration: underline;">Original Article</a> 
             {{ title }}
        </p>
        <div class="summary-content">
            {{ summary | safe }}
        </div>
        <a href="{{ url_for('index') }}">Summarize another article</a>
    </div>
</body>
</html>
